@font-face {
    font-family: "Playfair-Bold";
    src: url("../fonts/PlayfairDisplaySC-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Playfair";
    src: url("../fonts/PlayfairDisplaySC-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu";
    src: url("../fonts/Ubuntu-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu-Light";
    src: url("../fonts/Ubuntu-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu-LightIt";
    src: url("../fonts/Ubuntu-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu-Mediun";
    src: url("../fonts/Ubuntu-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu-MediumIt";
    src: url("../fonts/Ubuntu-MediumItalic.ttf") format("ttf"),
        url("../fonts/Ubuntu-MediumItalic.ttf") format("ttf");
    font-weight: 500;
    font-style: normal;
}